.Home-Container {
  background-color: #2e2f30;
  padding: 4rem;
  display: flex;
  align-items: center;
  color: var(--color-text);
  border-radius: 1rem;
  gap: 5rem;
  .text {
   
  }
  .img {
    height: 300px;
    border-radius: 3rem;
  }
}
