.Home-Container {
  background-color: #2e2f30;
  padding: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  border-radius: 1rem;
  gap: 5rem;
  width: 70%;
  margin: 2rem;

  .img {
    height: 300px;
    border-radius: 3rem;
  }
}
.ToolBox {
  background-color: #2e2f30;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  border-radius: 1rem;
  gap: 5rem;
  width: 70%;
  margin: 2rem;

  .tech-list {
    display: flex;
    flex-direction: row;
    gap: 10rem; /* Reduced gap to improve alignment */
    justify-content: center;

    .tools {
      display: flex;
      flex-direction: column;
      align-items: flex-start; /* Aligns h2s to the same level */
      flex-wrap: wrap;

      .tools-content{

       display: flex;
      flex-direction: column;
      align-items: center; /* Center icons and text horizontally */

      .flex-test {
        display: flex;
        justify-content: center;
        margin: 1rem;
      }

      .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
      }}
    }
  }
}
